.App{
  min-height: 100vh;
  padding: 5px 55px 50px 55px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.title{
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content:center;
  align-items: center;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button{
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

textarea:focus, input:focus{
  outline: none;
}